@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
